body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fretboard {
  background-image: url('./maple-fretboard.png');
  background-size: cover;
  display: inline-block;
  width: 1265px;
  height: 151px;
}

.marker {
  position: absolute;
  float: left;
  width: 13px;
  height: 13px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.7;
}
